* {
    
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

/*body {

    padding-left: 15px;
    padding-right: 15px;

}*/

/* css header *******************/

header {

    width: 100%;
    margin-bottom: 50px;

}

/* css navigation fixed *******************/

nav {

    position: fixed;
    top: 0px;
    /*left: 0px;*/
    z-index: 999;
    width: 100%;
    height: 100px;
    margin-bottom: 15px;
    background-color: white;

}

/****** css div contenant le menu  *******************/

.container {

    
    display: flex;
    justify-content: flex-end;
    height: 100px;


}

/******* container du logo *******/

.logo {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;

}

/**** logo ***********/

.logo a {

    width: 100%;
    display: block;
    align-self: center;

}

/***** container de item menu ******/


.items {

    width: 100%;
    height: 100%;
    align-self: flex-end;
    display: flex;
    justify-content: flex-end;

}

/***** css item contenant les balises a pour le menu *****/

.items .item {

    display: flex;
    height: 100%;
    margin-left: 15px;
    border-top: 3px solid #11ffee00;

}

/******* dernier enfant du menu dernier bouton ******/

.items:last-child {

    margin-right: 15px;

}

/**** css bouton du menu  *******************/

.item a {

    display: block;
    align-self: center;
    text-decoration: none;
    color: #7c7c7c;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;

}

/****** css mouvement sur le menu  *******************/

.items .item:hover {

    border-top: 3px solid #5dadd3;

}

.items .item a:hover {

    
    color: #616161;

}

/****** css Slider  *******************/

.slider {

    padding-top: 100px;
    width: 100%;

}

/****** css Slides container du slogan, des image et des radios  *******************/

.slides {

    position: relative;
    width: 100%;
    height: 600px;
    background: linear-gradient(#fcfcfc, 98% ,#d6d6d6);

}

/****** css Slide container des img  *******************/

.slide {

    
    position: absolute;
    width: 100%;
    top: 20px;
    z-index: -1;

} 

.slide img {

    width: 100%;

}

/* css Slogan sur le slider *******************/

.slogan {

    position: absolute;
    top: 150px;
    left: 130px;
    margin: auto;
    width: 80%;
    color: white;
    z-index: 2;

}

.slogan strong {

    color: #5dadd3;

}

.slogan h1 {

    margin-bottom: 15px;

}

.slogan p {

    margin-bottom: 30px;

}


/***** Bouton du slogan ************************/


.slogan a {

    text-decoration: none;
    color: white;
    background-color: #5dadd3;
    padding: 15px;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #4594bb;

}

/* css bouton de selection du slider *******************/

.pre, .next {

    position: absolute;
    top: 35%;
    cursor: pointer;
    width: 3%;
    height: 60px;
    background-color: rgba(88, 88, 88, .8);
    text-align: center;
    color: white;
    padding-top: 2%;
    font-size: 30px;

}

.pre{

    left: 0px;
    border-top-right-radius: 100% 50%;
    border-bottom-right-radius: 100% 50%;
    
    
}

.next {

    right: 0px;
    border-top-left-radius: 100% 50%;
    border-bottom-left-radius: 100% 50%;
    

}

/* css check entre les deux images *******************/

#radio1:checked ~ #img1, #radio2:checked ~ #img2 {

    display: block;
    z-index: 1;

}

#radio1:checked ~ #img2, #radio2:checked ~ #img1 {

    display: none;
    z-index: 0;

}


#radio1, #radio2, #radio3 {

    display: none;

}

/* css separation des sections *******************/

.separation {


    margin-top: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

}

.separation hr {

    width: 80%;
    border: none;
    border-bottom: 2px solid #e0e0e0;

}

/* css section *******************/

#serv, #port, #cont {

    margin-top: 10px;
    padding-top: 15px;
    text-align: center;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
    padding-bottom: 10px;

}



/* css separation titre de la section avec contenu *******************/


.separation2 {

    position: relative;
    height: 9px;

}

.separation2 hr {

    position: absolute;
    top: 80%;
    width: 10%;
}

/******** rond blanc ********/

.blanc {

    position: absolute;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;

}

/******** rond bleu ********/

.bleu {

    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #5dadd3;
    border-radius: 50%;

}

/******* mise place des ronds sur le trait hr ********/

.separation2 .blanc {

    top: 0px;

}

.separation2 .bleu {

    top: 5px;
    right: 5px;
}

/* css titre et sous titre des sections  *******************/

h2 {

   font-weight: bold;
   margin: 30px;
   font-size: 40px; 

}
.sstitre {
    display: flex;
    justify-content: center;
    margin: 30px;
    

}

.sstitre p {

    display: block;
    font-size: 15px;
    width: 30%;
}

/* css section Nos services *******************/

#serv {

    
    background: linear-gradient(#fcfcfc, 98% ,#d6d6d6);

}

/******** container de service ***********/

.presentation {

    display: flex;
    justify-content: center;
    
    width: 100%;
}

/******* container de l image ********/

.preim {

    width: 50%;
    align-self: center;

}

.preim img {

    width: 60%;
}

/****  listes services ******/

.listeserv {

    align-self: flex-end;
    display: flex;
    width: 50%;

}

/***** logo des services ********/

.logoserv {

    width: 10%;


}

.imagefont {

    position: relative;
    width: 100%;

}

/******* css rond blanc et bleu logos services *****/

.imagefont .bleu {

    left: 5px;
    top: 5px;

}

.imagefont .blanc {

    left: 60px;
    top: 16px;

}

/******* css font des logos services *****/

.font {

    position: absolute;
    left: 20%;
    width: 20px;
    height: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    color: #5dadd3;
    font-size: 20px;
    padding: 15px;

}

/***** textes services *******/

.textserv {

    width: 70%;
    padding-bottom: 20px;
    margin-left: 100px;
    text-align: start;

}

.textserv h3 {

    font-weight: bold;

}

.textserv p {

    display: block;
    font-size: 14px;
}


ul {
    list-style: none;
}

/* css section portfolio *******************/

#port {

    background: linear-gradient(#f5f5f5, 98% ,#eaeaea);

}

/****** menu portfolio ***********/

/******* les categories *******/

#allworks, #creative, #corporate, #portfoliom {

    display: none;

}

/****** menu *******/

.menuport {

    display: flex;
    justify-content: center;

}

.menuport ul {

    list-style: none;
    margin-top: 25px;
    margin-bottom: 45px;


}

.menuport li {

    display: inline-block;
    background-color: #e5e5e5;

}

.menuport h3 {

    padding: 10px;

}

.menuport label {

    position: relative;
    text-decoration: none;
    color: #888b8e;
    cursor: pointer;
}

.menuport i {

    display: none;

}


/******* container des images portfolio *******/


.portab {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

/***** contient l'image et texte *******/

.imageport {

    width: 20%;
    margin: 5px;
}

/****** css pour différencier chaque categorie *******/

.creat, .portf, .corp {

    position: relative;
    width: 100%;
    height: 200px;
    

}

.creat img {

    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    font-size: 0px;

}

.portf img {

    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    font-size: 0px;

}

.corp img {

    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    font-size: 0px;

}

/******* le commentaire de chaque image ******/

.comment {

    position: absolute;
    bottom: 0px;
    background-color: rgba(88, 88, 88, .8);
    width: calc(100% - 20px);
    height: 50px;
    color: white;
    cursor: pointer;
    text-align: start;
    opacity: 0;
    padding: 10px;
    
}

/****** l'oeil decoratif des commentaire ********/

.eye {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #4692b1;
    padding: 12px;
    border: 2px solid white;
    right: 10px;
    top: -20px;
}


/****** passage souris sur l'image apparition commentaire *******/


.creat:hover .comment, .portf:hover .comment, .corp:hover .comment {

    opacity: 1;

}

/****** modification du menu au clic de la souris ******/

#allworks:checked ~ * .call, #creative:checked ~ * .ccrt, #corporate:checked ~ * .ccrp, #portfoliom:checked ~ * .cptf {

    background-color: #5dadd3;
    box-shadow: 0px 3px 1px #468cad;

}

#allworks:checked ~ * .checkall, #creative:checked ~ * .checkcrt, #corporate:checked ~ * .checkcrp, #portfoliom:checked ~ * .checkptf {

    color: #feffff;

}

/**** la fleche du clic********/

#allworks:checked ~ * .checkall i, #creative:checked ~ * .checkcrt i, #corporate:checked ~ * .checkcrp i, #portfoliom:checked ~ * .checkptf i {

    position: absolute;
    display: block;
    color: #468cad;
    font-size: 18px;
    right: 40%;
    bottom: -25px;


}

/******* affichage des images de tpoutes les categories ********/

#allworks:checked ~ * .creat, #allworks:checked ~ * .corp, #allworks:checked ~ * .portf {

    display: block;
    

}

/****** masquage des categories autre que creative *******/

#creative:checked ~ * .corp, #creative:checked ~ * .portf {

    display: none;
    
}

/***** disparition totale dans le parent des autres *******/

#creative:checked ~ * .crp, #creative:checked ~ * .ptf {

    height: 0px;
    margin: 0px;
    width: 0px;
    
}


/***** affichage des creatives ********/

#creative:checked ~ * .creat {

    display: block;
    
}

/***** affichage des corporates ********/


#corporate:checked ~ * .corp {

    display: block;
    
}

/******* masquage des autres *********/

#corporate:checked ~ * .creat, #corporate:checked ~ * .portf {

    display: none;
    
}


/****** disparition en volume des autres *****/


#corporate:checked ~ * .crt, #corporate:checked ~ * .ptf {

    height: 0px;
    margin: 0px;
    width: 0px;
    
}

/***** affichage des portfolios ********/

#portfoliom:checked ~ * .portf {

    display: block;
    
}

/******* masquage des autres *********/

#portfoliom:checked ~ * .creat, #portfoliom:checked ~ * .corp {

    display: none;
    
}

/****** disparition en volume des autres *****/

#portfoliom:checked ~ * .crt, #portfoliom:checked ~ * .crp {

    height: 0px;
    margin: 0px;
    width: 0px;
    
}

/* css separation3 avec une balise  *******************/

.fix {

    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    width: 10%;
    margin-left: 45%;
    height: 50px;
}

.separation3 {
    position: relative;
    border-top: 2px solid #e0e0e0;
    width: 100%;
    height: 10px;
    font-size: 0px;
}

.separation3::before {

    position: absolute;
    content: "";
    border: 4px solid white;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #5dadd3;
    top: -11px;
    left: 42%;
    z-index: 10;

}

/* css section contact *******************/

.contact {

    margin-top: 25px;
    width: 100%;

}

/**** contient la carte ********/

.carte {

    position: relative;
    height: 900px;

}

iframe {

    position: absolute;
    width: 80%;
    left: 13%;
    top: 0px;

}


/****** contient le formulaire *******/


.formulaire {

    position: absolute;
    right: 20%;
    top: 60px;

}

form {
    
    width: 300px;
    padding: 25px;
    background-color: rgba(234, 234, 234, 0.82);
  }
  
  
form input, form textarea, form h4, form h5, form p {
    
    width: 250px;

  }

form input, form textarea {

    background-color: white;
    margin: 10px;
    padding-left: 10px;
    font-size: 16px;

  }

form h4, form h5, form p {

    text-align: start;
    padding-left: 20px;
    color: black;

  }

form h4 {

    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 5px;
    font-weight: bold;

  }

form p {
    
    font-size: 16px;
    padding-top: 5px;

}

form p:last-child {

    padding-bottom: 20px;

}
  
input:focus, textarea:focus {
    
    border-color: #000;
  }
  
form textarea {

    height: 125px;

  }
  
form input {

    height: 25px;

  }

/*** bouton du formulaire ******/
    
.button {
    
    text-align: start;
    padding-left: 25px;

  }
  
button {

    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    border: none;
    background-color: #5dadd3;
    box-shadow: 0px 2px 1px #468cad;

  }

/* css footer *******************/

.fin {

    display: flex;
    justify-content: space-around;

}

/************   Les medias queries ***********/

@media screen and (min-width: 1700px) {
    
    .slides {

        height: 750px;

    }

    
    
    .creat, .portf, .corp {
    
        position: relative;
        width: 100%;
        height: 300px;
        
    
    }

    .separation3::before {
        
        left: 44%;

    }

    
}


@media screen and (min-width: 1500px) and (max-width: 1700px) {
    
    .slides {

        height: 650px;

    }

    
    .creat, .portf, .corp {
    
        position: relative;
        width: 100%;
        height: 250px;
        
    
    }

    .separation3::before {
        
        left: 43%;

    }
}

@media screen and (max-width: 1250px) {

    .slides {

        height: 450px;

    }


    .slogan h1 {

        font-size: 18px;

    }
    .slogan p {

        width: 50%;

    }

    .slogan a {

        padding: 12px;
        font-size: 15px;

    }

    .pre, .next {
        
        font-size: 30px;
        height: 60px;
    }


    .presentation {

        flex-direction: column;
        
        width: 100%;
    }

    h2 {
        font-size: 30px;
    }


    .sstitre p {

        font-size: 12px;
    }


    .preim {

        width: 100%;
    
    }

    .listeserv {

        
        width: 80%;
    
    }

    .textserv p {
    
        font-size: 12px;

    }

    .textserv h3 {
        font-size: 18px;
    }

    .logoserv {

        width: 5%;
    
    
    }

    .imagefont .bleu {

        left: 5px;
        top: 5px;
    
    }
    
    .imagefont .blanc {
    
        left: 39px;
        top: 12px;
    
    }

    .font {

        left: 18%;
        width: 15px;
        height: 15px;
        font-size: 14px;
        padding: 12px;
    }

    .textserv {
        margin-left: 70px;
    }

    form {
    
        width: 250px;
        padding: 10px;
        background-color: rgba(234, 234, 234, 0.82);
      }
      
      
    form input, form textarea, form h4, form h5, form p {
        
        width: 200px;
    
      }

      form h4, form h5, form p {

        text-align: start;
        padding-left: 20px;
        color: black;
    
      }
    
    form h4 {
    
        font-size: 15px;
        padding-top: 15px;
        padding-bottom: 5px;
        font-weight: bold;
    
      }
    
    form p {
        
        font-size: 12px;
        padding-top: 5px;
    
    }
    
    form p:last-child {
    
        padding-bottom: 20px;
    
    }
      
    input:focus, textarea:focus {
        
        border-color: #000;
      }
      
    form textarea {
    
        height: 100px;
    
      }
      
    form input {
    
        height: 20px;
        font-size: 12px;
    
    }

    .formulaire {

        position: absolute;
        right: 8%;
        top: 60px;    
    
    }

    button {

        padding: 8px;
        font-size: 12px;
    
    }

    .separation3::before {
        
        left: 41%;

    }

}

@media screen and (max-width: 850px) {

    .slides {

        height: 350px;

    }

    .slide {

        top: 10px;

    }

    .container {

        flex-direction: column;
        
    }

    .logo {

        height: 60%;
        align-self: center;

    }

    .items {

        height: 40%;
        justify-content: center;

    }

    .items a {

        font-size: 15px;
        
    }

    .pre, .next {
        
        font-size: 25px;
        height: 50px;
    }

    .slogan {

        top: 80px;
        left: 70px;
        
    }

    .menuport h3 {
        padding: 10px;
        font-size: 12px;
    }
    
    .imageport {

        width: 30%;
    }

    .separation3::before {
        
        left: 39%;

    }
        
    
    
}

@media screen and (max-width: 670px) {

    .slides {

        height: 300px;

    }


    .slogan {

        top: 20px;
        left: 70px;
        
    }

    .slogan h1 {

        font-size: 14px;

    }

    .slogan p {

        font-size: 12px;

    }

    .slogan a {

        font-size: 12px;

    }

    .pre, .next {
        
        font-size: 20px;
        height: 40px;
    }
    

    .imageport {

        width: 40%;
    }
    

    .separation3::before {
        
        left: 38%;

    }

    

    .formulaire {
        
        top: 110px;
    }

    form {

        width: 220px;
        padding: 0px;
        background-color: rgba(234, 234, 234, 0.72);

    }

    form input, form textarea, form h4, form h5, form p {
        width: 180px;
    }

}

@media screen and (max-width: 600px) {

    .slides {

        height: 250px;

    }

    .slogan {

        top: 20px;
        left: 40px;
        width: 60%;
    
    }
    
    .slogan h1 {
    
        margin-bottom: 10px;
        font-size: 12px;
    
    }
    
    .slogan p {
    
        margin-bottom: 10px;
        font-size: 11px;
    
    }
    
    .slogan a {
    
        padding: 8px;
        font-size: 11px;
    
    }
    
    
    
    .pre, .next {
    
        width: 4%;
        height: 25px;
        padding-top: 2%;
        font-size: 15px;
    
    }

   .items a {

        font-size: 12px;
       
        
    }

    
    .imagefont .blanc {
    
        left: 34px;
        top: 12px;
    
    }

    .separation2 hr {

        width: 30%;
    }

    .fix {

        width: 30%;
        margin-left: 35%;

    }

    .separation3::before {
        
        left: 43%;

    }

    .sstitre p {

        width: 50%;
    }

    
    .creat, .portf, .corp {

        height: 160px;

    }

    .comment {

        height: 30px;
        font-size: 12px;
        
    }
    
    .eye {

        width: 15px;
        height: 15px;
        padding: 10px;
    }

    .carte {

        height: 1280px;

    }

    .formulaire {
        
        top: 920px;
        right: 33%;
    }

    form {

        width: 210px;
        padding: 0px;
        background-color: rgba(234, 234, 234, 1);

    }

    form input, form textarea, form h4, form h5, form p {
        width: 180px;
    }

    .button {
        
        padding-left: 10px;
    }

    button {
        padding: 7px;
        font-size: 11px;
        margin-bottom: 15px;
    }



}

@media screen and (max-width: 400px) {

    /*body {

        padding-left: 0px;
        padding-right: 0px;
    
    }

    nav {
        
        left: auto;
        
    }*/

    .slides {

        height: 180px;

    }

    .slogan {

        top: 15px;
        left: 35px;
        width: 60%;
    
    }
    
    .slogan h1 {
    
        margin-bottom: 10px;
        font-size: 11px;
    
    }
    
    .slogan p {
    
        margin-bottom: 8px;
        font-size: 10px;
    
    }
    
    .slogan a {
    
        padding: 6px;
        font-size: 9px;
    
    }
    
    
    
    .pre, .next {
    
        width: 4%;
        height: 25px;
        padding-top: 2%;
        font-size: 15px;
    
    }

    h2 {

        font-size: 20px;

    }

   .items a {

        font-size: 11px;
       
        
    }

    .textserv {
        width: 60%;
    }

    
    .imagefont .blanc {
    
        left: 34px;
        top: 12px;
    
    }

    .separation3::before {

        left: 40%;
    }

    .sstitre p {

        width: 60%;
    }

    .imageport {

        width: 50%;
    }
    
    .creat, .portf, .corp {

        height: 130px;
        
    }

    .formulaire {
        
        right: 22%;
    }


    .fin {

        flex-direction: column;
        align-items: center;

    }

}

@media screen and (max-width: 300px) {

    .slides{

        height: 130px;

    }

    .slogan {

        top: 15px;
        left: 25px;
        width: 80%;
    }

    .slogan h1 {

        margin-bottom: 5px;
        font-size: 10px;

    }

    .slogan p {

        margin-bottom: 5px;
        font-size: 9px;

    }

    .slogan a {
        padding: 5px;
        font-size: 9px;
    }

    .creat, .portf, .corp {

        height: 110px;

    }

    .menuport h3 {

        font-size: 11px;
        padding: 7px;
    
    }

    #allworks:checked ~ * .checkall i, #creative:checked ~ * .checkcrt i, #corporate:checked ~ * .checkcrp i, #portfoliom:checked ~ * .checkptf i {

        font-size: 18px;
        right: 40%;
        bottom: -21px;
    
    
    }

    .comment {

        height: 25px;
        font-size: 10px;
        height: 25px;
        
    }
    
    .eye {

        width: 12px;
        height: 12px;
        padding: 8px;
        top: -15px;
    }

    .formulaire {
        
        right: 9%;
    }
}


@media screen and (max-width: 260px) {

    .logo {
        width: auto;
    }

    .menuport h3 {
        font-size: 9px;
    }

    .slogan h1 {
        margin-bottom: 2px;
        font-size: 9px;
    }

    .slogan p {

        margin-bottom: 2px;
    
    }
    
    .slogan a {

        padding: 4px;
    
    }


}